{% extends "pages/base.html" %}

{% block title %}THÀNH VIÊN{% endblock  %}
{% load static %}
{% block content %}
<h1 class='text-center'>THÀNH VIÊN LỚP</h1>

<div>
    <!-- danh sach -->
    <table class='table table-bordered'>
        <tr>
            <th>STT</th>
            <th>Họ</th>
            <th>Tên</th>
            <th>Ngày sinh</th>
            <th>Nơi chốn</th>
            <th>Đoàn viên</th>
        </tr>
    </table>
</div>

<!-- khi chọn tên 1 người -->
<div>
    <!-- banner -->
    <img src="" alt="">
    <!-- avatar -->
    <img src="" alt="">
    Họ và tên: 
    Ngày sinh

</div>
{% endblock %}