{% extends "pages/base.html" %}

{% block title %}Home Love{% endblock  %}
{% load static %}
{% block content %}
<div class="row">
    <div class='col text-center'>
        <button class='btn btn-primary' onclick='window.location.href="/trangchu"'>Cloud Schools</button>
    </div>
  </div>
  <h1 class='text-center'>THÔNG BÁO</h1>
  <!--  -->
  <div class="panel panel-default">
    <div class="panel-body">
    5/10/2019 <b>|</b> Địa: Hân, Lam Anh học 3 bài 1,2,3 trả bài miệng lấy điểm 15'
    </div>
  </div>
  <!--  -->
  <div class="panel panel-default">
    <div class="panel-body">
    4/10/2019 <b>|</b> Văn: 2T (Tự tình, Thương vợ, Bánh trôi nước.)
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body bg-success text-white">
    3/10/2019 <b>|</b> Toán: 1T
    </div>
</div>
{% endblock %}