{% extends "pages/base.html" %}

{% block title %}ISOS{% endblock  %}
{% load static %}
{% block content %}
<style>
    table, div {
      font-family: 'Times New Roman', serif !important;
    }
    </style>
    
    <div class='font-italic text-center'>
    TUẦN <b id='sdb-tuan'>16</b> - HỌC KÌ <b id='sdb-hk'>I</b>. Từ ngày <b id='day-bf'>02</b> / <b id='month-bf'>12</b> / <b id='year-bf'>16</b>  đến ngày / <b id='day-at'>16</b> / <b id='month-bf'>16</b> / <b id='year-at'>16</b>
    </div>
    <table class='table table-bordered text-center'>
        <tr>
            <th class='w-10'>Thứ / ngày</th>
            <th class='w-10'>Tiết</th>
            <th class='w-10'>Môn</th>
            <th class='w-10'>Tiết CT</th>
            <th class='w-10'>Dạy bù</th>
            <th class='w-10'>Tên học sinh vắng</th>
            <th class='w-25'>Tến bài, nội dung công việc.</th>
            <th class='w-25'>Nhận xét giáo viên</th>
            <th class='w-10'>Xếp loại tiết học</th>
            <th class='w-10'>Kí tên</th>
        </tr>
        <tr>
            <th rowspan="5">
                <p>THỨ 2</p>
                <b>18</b> / <b>11</b>
            </th>
            <th class='w-10'>1</th>
            <th class='w-10'>2</th>
            <th class='w-10'>Toán</th>
            <th class='w-25'>Đủ</th>
            <th class='w-25'>Đém số và ôn tập</th>
            <th class='w-10'>Mai</th>
        </tr>
        <tr>
            <th>2</th>
        </tr>
        <tr>
            <th>3</th>
        </tr>
        <tr>
            <th>4</th>
        </tr>
        <tr>
            <th>5</th>
        </tr>
        <tr>
            <th rowspan="5">
                <p>THỨ 3</p>
                <b>19</b> / <b>11</b>
            </th>
            <th>1</th>
        </tr>
        <tr>
            <th>2</th>
        </tr>
        <tr>
            <th>3</th>
        </tr>
        <tr>
            <th>4</th>
        </tr>
        <tr>
            <th>5</th>
        </tr>
        <tr>
            <th rowspan="5">
                <p>THỨ 4</p>
                <b>20</b> / <b>11</b>
            </th>
            <th>1</th>
        </tr>
        <tr>
            <th>2</th>
        </tr>
        <tr>
            <th>3</th>
        </tr>
        <tr>
            <th>4</th>
        </tr>
        <tr>
            <th>5</th>
        </tr>
        <tr>
            <th rowspan="5">
                <p>THỨ 5</p>
                <b>21</b> / <b>11</b>
            </th>
            <th>1</th>
        </tr>
        <tr>
            <th>2</th>
        </tr>
        <tr>
            <th>3</th>
        </tr>
        <tr>
            <th>4</th>
        </tr>
        <tr>
            <th>5</th>
        </tr>
        <tr>
            <th rowspan="5">
                <p>THỨ 6</p>
                <b>22</b> / <b>11</b>
            </th>
            <th>1</th>
        </tr>
        <tr>
            <th>2</th>
        </tr>
        <tr>
            <th>3</th>
        </tr>
        <tr>
            <th>4</th>
        </tr>
        <tr>
            <th>5</th>
        </tr>
        <tr>
            <th rowspan="5">
                <p>THỨ 7</p>
                <b>23</b> / <b>11</b>
            </th>
            <th>1</th>
        </tr>
        <tr>
            <th>2</th>
        </tr>
        <tr>
            <th>3</th>
        </tr>
        <tr>
            <th>4</th>
        </tr>
        <tr>
            <th>5</th>
        </tr>
    </table>
    
    
    <table>
        PHẦN KIỂM TRA NHẬN XÉT CỦA HIỆU TRƯỞNG  
            Cai Lậy, ngày .... tháng .... năm ....
        1. Việc thực hiện chương trình:
        2. Chất lượng các tiết học:
        3. Yêu cầu
        - Giáo viên bộ môn:
        - Giáo viên chủ nhiệm
        HIỆU TRƯỞNG
        (Ký tên, đóng dấu)
    </table>
{% endblock %}