{% extends "pages/base.html" %}

{% block title %}ISOS{% endblock  %}
{% load static %}
{% block content %}
<button><a href="">LỊCH HOẠT ĐỘNG</a></button>
<button><a href="">CÂU LẠC BỘ</a></button>
<button><a href="">THÔNG BÁO</a></button>

<!-- lich hoat dong -->
<div> 
    <div>

    </div>

</div>

<!-- cau lac bo -->
<div>
    <!-- cầu lông -->
    <div class='border'>
        <!-- icon --> <img src="" alt="">
        <b>Tên câu lạc bộ:</b> Cầu lông <br>
        <b>Nhóm trưởng:</b> <br>
        <b>Người đại diện:</b> <br>
        <b>Số lượng thành viên:</b> <br>
        <b>Danh sách thành viên:</b> <br>
        <b>Ảnh:</b> <br> <!-- danh sách ảnh lướt qua -->
    </div>


    <!-- sao truc -->
    <div class='border'>
        <!-- icon --> <img src="" alt="">
        <b>Tên câu lạc bộ:</b> Sáo trúc <br>
        <b>Nhóm trưởng:</b> <br>
        <b>Người đại diện:</b> <br>
        <b>Số lượng thành viên:</b> <br>
        <b>Danh sách thành viên:</b> <br>
        <b>Ảnh: <br> <!-- danh sách ảnh lướt qua -->
    </div>
</div>
{% endblock %}